/* NAVIGATION BAR */

.navbar {
    background-color: #f1c40f;
    border-bottom: 2px solid #cfa011;
}

.navbar-brand img {
    margin-top: -10px;
}

.navigateitems li {
    margin-left: 20px;
    margin-right: 20px;
}

.navigationitems li a {
    color: black;
}

.navbar-default {
    background-color: #f1c40f;
    border-color: #f1c40f;
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #f1c40f;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #000000;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #000000;
    background-color: #f1c40f;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #f1c40f;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #f1c40f;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #f1c40f;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: #f1c40f;
}

.navbar-default .navbar-toggle {
    border-color: #f1c40f;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #f1c40f;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #000000;
}

.navbar-default .navbar-link {
    color: #000000;
}

.navbar-default .navbar-link:hover {
    color: #000000;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000000;
        background-color: #f1c40f;
    }
}

/* JUMBOTRON */

.jumbotron {
    background-image: url(../media/images/phoenix2.png);
    background-position: top;
    height: 600px;
}

.jumbotitle h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    font-size: 100px;
}

.jumbotitle p {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}


.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
}

@media only screen and (max-width: 1026px) {
    .jumbotitle>h1{
        font-size: 50px;
    }
}

/* BODY */

body {
    background-color: #252839;
}

/* FOOTER */

@media only screen and (max-width: 1026px) {
    #socialsmall {
        display: none;
    }

    #sitemapsmall {
        display: none;
    }
}

#sitefooter {
    background-color: #677077;
}

#sitefooter p {
    color: white;
    text-align: center;
}

#sitefooter h2 {
    color: white;
    text-align: center;
}

#sitefooter a {
    margin-bottom: 15px;
}

#sitefooter ul {
    list-style: none;
}

#sitefooter h2 {
    color: #f2b632;
}

#sitefooter p {
    color: #f2b632;
}

.sitemap a {
    color: #f2b632;
}

.aboutus a {
    background-color: #f2b632;
}

.socialbuttons img {
    margin-left: 10px;
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

/* NEXT SECTION */

#featureArticle img {
    height: 200px;
    width: auto;
    margin-top: 10px;
    border-radius: 8px;

}

#featureArticle {
    background-color: #b5b5b7;
}

#featureArticle p {
    margin-bottom: 20px;
}

.blogpos {
    width: 100%;
    margin-bottom: 50px;
}

#featureArticle h2 {
    margin-left: 15px;
    color: black;
}

#featureArticle h3 {
    color: black;
}

#featureArticle p {
    color: black;
}


.secondservice h2 {
    text-align: right;
    margin-right: 15px;
}

.serviceimg img {
    margin-bottom: 15px;
}

.servicepara p {
    font-size: 20px;
}

.panel {
    margin-top: 15px !important;
}

.blogposts h2 {
    text-align: center;
}

.blogposts img {
    float: left;
    margin-right: 10px;
}

.AboutSection h2 {
    text-align: center;
}

.AboutSection img {
    border-radius: 50%;
}


#featureArticle2 {
    background-color: #b5b5b7;
}

#featureArticle2 p {
    margin-bottom: 20px;
}

#featureArticle2 h2 {
    margin-left: 15px;
    color: black;
}

#featureArticle2 h3 {
    color: black;
}

#featureArticle2 p {
    color: black;
}

#Network {
    background-color: #b5b5b7;
}

#Network p {
    margin-bottom: 20px;
}

#Network h2 {
    margin-left: 15px;
    color: black;
}

#Network h3 {
    color: black;
}

#Network p {
    color: black;
}

#Network img {
    margin-bottom: 10px;
}

#ContactUsButton {
    margin-left: 30%;
    margin-right: 30%;
}

.ContactForm {
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}

textarea {
    resize: none;
}
