.navbar-brand img{
    margin-top: -10px;
}

.navigateitems li {
    margin-left: 20px;
    margin-right: 20px;
}

.jumbotron{
    background-image: url(../media/images/phoenix2.png);
    background-position: top;
    height: 600px;
}

.jumbotitle h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    font-size: 100px;
}

.jumbotitle p {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}


.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
}

body {
    background-color: #252839;
}

#featureArticle img {
    height: 200px;
    width: auto;
    margin-top: 10px;
    border-radius: 8px;

}

#featureArticle {
    background-color: #b5b5b7;
}

#featureArticle p{
    margin-bottom: 20px;
}

.blogpos {
    width: 100%;
}

#featureArticle h2 {
    margin-left: 15px;
    color: black;
}

#featureArticle h3 {
    color: black;
}

#featureArticle p {
    color: black;
}

#sitefooter {
    background-color: #677077;
}

#sitefooter p {
    color: white;
    text-align: center;
}
#sitefooter h2 {
    color: white;
    text-align: center;
}

#sitefooter a {
    margin-bottom: 15px;
}

#sitefooter ul{
    list-style: none;
}

#sitefooter h2 {
    color: #f2b632;
}

#sitefooter p {
    color: #f2b632;
}

.sitemap a {
    color: #f2b632;
}

.aboutus a {
    background-color: #f2b632;
}

.socialbuttons img {
    margin-left: 10px;
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.secondservice h2 {
    text-align: right;
    margin-right: 15px;
}

.serviceimg img{
    margin-bottom: 15px;
}

.servicepara p {
    font-size: 20px;
}

.panel {
    margin-top: 15px !important;
}

.blogposts h2{
    text-align: center;
}

.blogposts img {
    float: left;
    margin-right: 10px;
}

.AboutSection h2 {
    text-align: center;
}

.AboutSection img {
    border-radius: 50%;
}


#featureArticle2 {
    background-color: #b5b5b7;
}

#featureArticle2 p{
    margin-bottom: 20px;
}

#featureArticle2 h2 {
    margin-left: 15px;
    color: black;
}

#featureArticle2 h3 {
    color: black;
}

#featureArticle2 p {
    color: black;
}

#Network {
    background-color: #b5b5b7;
}

#Network p{
    margin-bottom: 20px;
}

#Network h2 {
    margin-left: 15px;
    color: black;
}

#Network h3 {
    color: black;
}

#Network p {
    color: black;
}

#Network img {
    margin-bottom: 10px;
}
